

body{
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  }

.container1 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 100px;
  background-color: rgba(40,147,201,0.2);
  max-width: 1600px;
  margin: auto;
  }



#logo {
  background-image: url('../img/EnvisionLogo.png');
  background-size: contain;
  width: 200px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  }

#navlinks{
  grid-column: 5/10;
  grid-row: 1/2;
  display: flex;
  align-items:  flex-end;
  padding-bottom: 10px;
  justify-content: center;

  }

#navlinks > div{
  padding: 0 15px;
  font-family: arial;
  font-size: 14px;
  color: gray;
  font-weight: bold;
  }

#contact {
  grid-column: 9 / 12;
  grid-row: 1 / 2;
  }

#ph, #email {
  font-family: arial;
  font-size: 14px;
  font-weight: bold;
  list-style: none;
  padding-left: 15px;
  color: gray;
  }

#contactlist{
  text-align: center;
  }

.container2{
  display: grid;
  background-color: #f9fbfc;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows:  repeat(9, 120px);
  margin: auto;
  max-width: 1600px;
  }

#promo1{
  grid-column: 1/13;
  grid-row: 1/4;
  background-image: url('../img/indy1600x360.png');
  /*background-size: ;*/
  background-position: top;
  background-repeat: no-repeat;
  /*background-clip: ;*/
  opacity: 0.7;
  }

#icons { /*position div on grid then flexbox for content inside*/
  grid-column: 8 /13;
  grid-row: 1/4;
  display: flex;
  align-items: center;
  justify-content: left;
  text-align: right; /*aligns icons to right*/
  z-index: 1;
  font-family: 'oswald', sans-serif;
  font-size: 14px;
  text-transform:uppercase;
  letter-spacing:2px;
  font-weight:bold;
  color: black;
  }



#icons li{
  padding-top: 30px; /*spaces li's vertically*/
  list-style: none;
  }


.icons{
  height: 45px;
  padding-left: 15px;
  vertical-align: middle; /*aligns icons center with text*/

  }

#sellingpoints{
  grid-column: 1 /-1; /*Position div on the grid*/
  grid-row: 4/7;
  display: grid; /*Turn div into grid for child divs*/
  grid-template-columns: repeat(3, 1fr); /*made 3 columns instead of positioning child divs on grid*/
  margin: 8px 0;
  grid-column-gap: 10px;

  }

#block1 {
  align-items: center;
  text-align: center;
  display: flex; /* Div needs turned into flexbox to center p elements/content*/
  background-color: teal;
  }

#block2{
  align-items: center;
  text-align: center;
  display: flex;
  background-color: orange;
  }

#block3{
  align-items: center;
  text-align: center;
  display: flex;
  background-color: pink;
  }


  .container3 {
    background-color: blue;
    height: 200px;
    width: auto;
  }

/* Header outline boxes

#logo{
  border: 2px solid red;
}
#navlinks{
  border: 2px solid blue;
}
#navlinks > div{
border: 2px solid yellow;
}
#contact{
border: 2px solid black;
}
#promo1{
border: 1px solid black;
}
