

body{
  padding: 0;
  margin-top: 15px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  }

.container1 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 100px;
  background-color: #e3e3e3;

  }

#logo {
  background-image: url('../img/EnvisionLogo.png');
  background-size: contain;
  width: 200px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  }

#navlinks{
  grid-column: 5/10;
  grid-row: 1/2;
  display: flex;
  align-items:  flex-end;
  padding-bottom: 10px;
  }

#navlinks > div{
  padding: 0 15px;
  font-family: arial;
  font-size: 14px;
  color: #fff;
  font-weight: bold;
  }

#contact {
  grid-column: 9 / 12;
  grid-row: 1 / 2;
  }

#ph, #email {
  font-family: arial;
  font-size: 14px;
  font-weight: bold;
  list-style: none;
  padding-left: 15px;
  color: #fff;
  }

#contactlist{
  text-align: center;
  }

.container2{
  display: grid;
  background-color: #f9fbfc;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows:  repeat(9, 120px);
  }

#promo1{
  grid-column: 1/13;
  grid-row: 1/4;
  background-image: url('../img/Promo1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 6px;
  }

#icons{ /*position div on grid then flexbox for content inside*/
  grid-column: 10 /13;
  grid-row: 1/4;
  background-color: ;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-family: oswald;
  color: gray;
  text-decoration: underline;
  margin-bottom: 6px;
  }

#sellingpoints{
  //border: 5px solid red;
  grid-column: 1 /-1; /*Position div on the grid*/
  grid-row: 4/7;
  display: grid; /*Turn div into grid for child divs*/
  grid-template-columns: repeat(3, 1fr); /*made 3 columns instead of positioning child divs on grid*/
  //grid-gap: 2%;
  }

#block1 {
  align-items: center;
  text-align: center;
  display: flex; /* Div needs turned into flexbox to center p elements/content*/
  background-color: teal;
  margin: 4%;
  }

#block2{
  align-items: center;
  text-align: center;
  display: flex;
  background-color: orange;
  margin: 4%;
  }

#block3{
  align-items: center;
  text-align: center;
  display: flex;
  background-color: pink;
  margin: 4%;
  }


  .container3 {
    background-color: blue;
    height: 200px;
    width: auto;
  }

/* Header outline boxes

#logo{
  border: 2px solid red;
}
#navlinks{
  border: 2px solid blue;
}
#navlinks > div{
border: 2px solid yellow;
}
#contact{
border: 2px solid black;
}
#promo1{
border: 1px solid black;
}
